<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>3 Column Layout</title>

  <script type="text/javascript">
    //...
  </script>

</head>

<body>

  <mat-toolbar #toolbar class="header">
    <p>Header...</p>
    <span class="ui-spacer"></span>
    <mat-icon class="ui-icon">favorite</mat-icon>
    <mat-icon class="ui-icon">delete</mat-icon>
  </mat-toolbar>

  <mat-sidenav-container class="ui-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="nav">

      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
        <li><a href="#">Link 5</a></li>
      </ul>

    </mat-sidenav>

    <div class="main-content">

      <ul>
        <h3>Content..</h3>
      </ul>
    </div>
  </mat-sidenav-container>
  <footer class="footer">
    <div layout="row" layout-align="center center">
      <div class="footer-message">eurodyn</div>

    </div>
  </footer>
</body>

</html>