  .container {
      width: 500px;
      height: 300px;
      border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .content {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
  }

  .sidenav {
      padding: 20px;
  }

  mat-sidenav-container,
  main-content {
      height: calc(100vh - 105px);
  }

  .ui-icon {
      padding: 0 14px;
  }

  .ui-spacer {
      flex: 1 1 auto;
  }

  mat-sidenav {
      width: 200px;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 1px 4px 0 rgba(0, 0, 0, .14), 0 1px 4px 0 rgba(0, 0, 0, .12);
  }

  .mat-drawer {
      background-color: #757575;
  }

  .box{
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 1px 4px 0 rgba(0, 0, 0, .14), 0 1px 4px 0 rgba(0, 0, 0, .12);
  }

  footer {
      height: 40px;
      width: 100%;
      background: #212121;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 1px 4px 0 rgba(0, 0, 0, .14), 0 1px 4px 0 rgba(0, 0, 0, .12);
  }

  .footer-message {
      font-size: 12px;
      padding: 4px 0;
      text-align: center;
      color: #ffffff;
  }

  mat-sidenav li {
      list-style-type: none;
      margin: 0;
      padding: 1em 0;
      color: #ffffff;
      border-bottom: 1px dashed #bdbdbd;
      cursor: pointer;
      padding-left: 2em;
  }

  mat-sidenav li a {
      color: #bdbdbd;
      text-decoration: none;
  }

  mat-sidenav li:hover {
      background: #ffffff;
  }

  .header {
      color: #ffffff;
      background-color: #2196F3;
      height: auto !important;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 1px 4px 0 rgba(0, 0, 0, .14), 0 1px 4px 0 rgba(0, 0, 0, .12);
      z-index: 2;
  }

  .header p {
      color: #ffffff;
      margin-left: 1em;
      font-size: 1em;
      font-family: inherit;
  }

  .mat-toolbar {}

  .mat-toolbar .header-top {
      color: #ffffff;
      background: #1976D2;
      padding: 4px 0;
      height: 18px;
  }

  .menu-icon {
      cursor: pointer;
  }

  .main-content {
      padding: 2em;
  }

  mat-sidenav-container {
      //   margin-top:100px;
  }

  .mat-sidenav-content {
      z-index: 1;
  }